.my-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    flex-wrap: wrap;
    gap: 16;
}
.my-card{
    box-shadow: var(--shadow);
    margin: 1rem;
    border-radius: 0.2rem;
    min-width: 300px;
    flex: 1;
}
.ant-card-head-title{
    margin: 0rem !important;
    font-weight: 500;
}
.my-card p{
    margin: 0;
}

/* @media screen and (max-width: 600px) {
  .my-card{
    box-shadow: var(--shadow);
    margin: 0.2rem;
    border-radius: 0.02rem;
    min-width: 300px;
    flex: 1;
}
} */