.signUp-wrapper {
  width: 70%;
  max-width: 450px;
  height: auto;
  box-shadow: var(--shadow);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
}
.title {
  font-weight: 500;
  font-size: 0.8rem;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}
.p-login{
  text-align:center;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 300;
}