.wrapper, 
.chart-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}
.chart-wrapper{
    height: auto;
    width: 93%;
    justify-content: space-between;
    padding: 1.8rem;
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
}